<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Netflix</title>

    <script src="js.js" defer></script>
    <script>script.js</script>
<img src="images/netflix background.jpg">
</head>

<body>
    <!-- You can add a background photo that you download but add it in your css so that it displays on the whole page -->

    <!-- You can give your stuff your own classes and ID's to style them -->

    <div id="netflixClone">
        <header>
            <a href="netflix.html">

                <!-- You need the netflix logo image and add it in the src below -->
                <img src="images/netflix logo.png" alt="netflixLogo"></a>
    
            <button><a href="#" >Sign Out</a>
            </button>
        </header>
    
        <main>
    
            <div>
                <div>

                    <!-- Movie Trailer and genres-->

                    <iframe width="885" height="498" src="https://www.youtube.com/embed/83ClbRPRDXU" title="The Sandman | Official Trailer | Netflix" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
    
                <div>
                    <h1>Coming Soon</h1>
                    <div>
                        <div v-for="(event, index) in movies">
                            <a class="movie-link">
                                <div>
                                    <img :src="event.Poster" alt="Movie Images">
                                    <div><button>Add</button></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    
                <div>
                    <h1>Action</h1>
                    <div>
                        <div v-for="(event, index) in movies">
                            <a class="movie-link">
                                <div>
                                    <img :src="event.Poster" alt="Movie Images">
                                    <div><button>Add</button></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    
                <div>
                    <h1>Drama</h1>
                    <div>
                        <div v-for="(event, index) in movies">
                            <a class="movie-link">
                                <div>
                                    <img :src="event.Poster" alt="Movie Images">
                                    <div><button>Add</button></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    
                <div>
                    <h1>Comedy</h1>
                    <div>
                        <div v-for="(event, index) in movies">
                            <a class="movie-link">
                                <div>
                                    <img :src="event.Poster" alt="Movie Images">
                                    <div><button>Add</button></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    
                <div>
                    <h1>Kids</h1>
                    <div>
                        <div v-for="(event, index) in movies">
                            <a class="movie-link">
                                <div>
                                    <img :src="event.Poster" alt="Movie Images">
                                    <div><button>Add</button></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </main>
    </div>
    

    <!-- Vue Links -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>

</body>

</html>