head{
	background-image: url("images/netflix background.jpg"), 300px;
		display: block;
		margin-right: auto;
		margin-right: auto;
	}
	
body{
	text-align: center;
	background-color: black;
	padding: 20px;

	
}
header{
	background-image: url("images/netflix background.jpg");
	background-size: cover;
	background-position: right bottom, left top;
    
	
}
header.button{
	text-align:top-right;
}
.netflixLogo{
	display: above;
	margin-right: auto;
	margin-right: auto;
	margin-bottom: 0;
}
main{
	background-color: black;
}

.movie-link{
	text-align: left;
}